@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,500;0,700;1,100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0px;
    width: 100vw;
}

/* Menú */
header {
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
}
header nav ul{
    display: flex;
    justify-content: space-between;
}
header nav li{
    list-style: none;
    padding: 0 10px;
}
header nav a{
    color:#242E52;
    text-decoration: none;
}
header nav a:hover{
    color:#7C8297;
    cursor: pointer;
}

.btn-enlace{
    background-color: #8B48BF;
    border-radius: 50px;
    color: white;
    height: 44px;
    width: 134px;
    padding: 10px 30px;
    text-decoration: none;
}


/* Banner1 */
.container {
    margin: 0 auto;
    padding: 20px 0;
    width: 80%;
}

section{
    display: flex;
}

.central{
    justify-content: space-between;
}

.fb-50 {
    flex:1;
    flex-basis: calc(50%-20px);
}

.mb-2 {
    margin-bottom: 20px;
}

.df-end {
    display: flex;
    justify-content: flex-end;
}

.mt-2 {
    margin-top: 20px;
}

.text-central{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.text-central h2{
    font-size: 2.5rem;
    margin-top: 40px;
}

.text-central p{
    margin: 20px 0;
}


